uploads/*
source_files/*
downloads/*
Gem*
audio/*

archive/
hc/examples/
hc/api/
hc/exporing-server/
hc/gfx/
hc/graphics/
hc/index.htm

hs/examples/
hs/api/
hs/exporing-server/
hs/gfx/
hs/graphics/
hs/index.htm
utils/embx_dbconn.php

